
<% content_for :main_navbar do %>
<%= render 'layouts/navbar' %>
<% end %>
<div class="banner">
  <div class="mx-auto">
      <h1>How Virtual Expos Work</h1>
  </div>
</div>
<div class="container">
  <div class="row featurette">
    <div class="col-md-5">
      <%= image_tag asset_path('400.png'), class: "featurette-image img-fluid mx-auto" %>
    </div>
    <div class="col-md-7">
      <h2 class="featurette-heading">DETAILED EXPLANATION ON HOW VIRTUAL EXPOS WORK</h2>
      <br>
      <p class="lead">The tuturial on how the vurtual expos work will come here</p>
    </div>
  </div>
  <hr class="featurette-divider">
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">VIRTUAL EXPOS PLATFORM Tutorial</h2>
      <br>
      <p class="lead">The tuturial on how the vurtual expos work will come here...</p>
    </div>
    <div class="col-md-5">
      <%= image_tag asset_path('400.png'), class: "featurette-image img-fluid mx-auto" %>
    </div>
  </div>
</div>