<div class="nested-fields">
  <div class="" style="padding: 15px;">
    <%= f.hidden_field :_destroy %>
    <div class="form-row">
      <div class="input-group col-md-8">
        
        <div class="input-group-append">
          <%= link_to "Remove Presenter", '#', class: "remove_fields btn btn-outline-danger" %>
        </div>
      </div>
    </div>
  </div>
</div>
