<div class="col-md-3">
  <h2 class="footer-heading mb-4">Follow Us</h2>
  <a href="<%= @event.social&.facebook_url %>" class="pl-0 pr-1"><span class="fab fa-facebook fa-1x"></span></a>
  <a href="<%= @event.social&.twitter_url %>" class="pl-3 pr-1"><span class="fab fa-twitter fa-1x"></span></a>
  <a href="<%= @event.social&.instagram_url %>" class="pl-3 pr-1"><span class="fab fa-instagram fa-1x"></span></a>
  <a href="<%= @event.social&.linkedin_url%>" class="pl-3 pr-"><span class="fab fa-linkedin fa-1x"></span></a>
</div>