<div class="container my-1 py-1 z-depth-1 text-center">


  <!--Section: Content-->
  <div class="view mb-12 align-center">
    <div class="row mx-lg-12">
      <div class="col-md-12 mb-12">
        <div class="view mb-12"> 
          <h4>Product Languages</h4>
          <%= company.language_list %>
          <hr>
          <h4>Home education styles</h4>
          <%= company.style_list %>
          <hr>    
          <h4>Tags</h4>
          <%= company.general_tag_list %>
          <hr>   
        </div>
      </div>
    </div>
    </div>
  
  <!--Section: Content-->
</div>