<!DOCTYPE html>
<html>

<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>

<body>
  <h1><b>Stall review assist</b> request from <b><%= @company.name %></b></h1>

  <%= @company.name %> has finished setting up their stall or they need help. Please review their stall/exhibit.

  <h4>This exhibitor can be emailed using the following email address:</h4>
  <%= @company.email %>

</body>
</html>