<!DOCTYPE html>
<html>

<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>

<body>
  <h1>Welcome to the Online Home Education Expo - Africa 2020</h1>

  <h4>Sorry, but the expo had already expired. Please provide us with your contact details and we will keep you informed of our future expo’s. You can also visit www.homeschoolexpo.co.za for more information.</h4>
  
  <p>
    <br><br>
    For any assistance: +27 87 231 1644 or expo@tuisskolers.org
    <br><br>
    Regards
    <br>
    The Expo team
  </p>
</body>

</html>
