<% content_for :main_navbar do %>
<%= render 'layouts/navbar' %>
<% end %>
<div class="banner">
  <div class="mx-auto">
      <h1>About us</h1>
  </div>
</div>
<div class="container">
  <div class="row featurette">
    <div class="col-md-5">
      <%= image_tag asset_path('400.png'), class: "featurette-image img-fluid mx-auto" %>
    </div>
    <div class="col-md-7">
      <h2 class="featurette-heading">VIRTUAL EXPOS ARE HERE TO STAY </h2>
      <br>
      <p class="lead">While webinars and online speaker summits have been with us for a while, catering for online
        exhibitions have been almost non-existent. Since the advent of lockdowns in reaction to the Covid-19
        pandemic much of the world have changed to online interaction. Expos had been no exception and
        demand for information that was previously mostly presented at exhibitions, required solutions that
        could adequately cater for this need.</p>
    </div>
  </div>
  <hr class="featurette-divider">
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">VIRTUAL EXPOS PLATFORM </h2>
      <br>
      <p class="lead">The Virtual Expos Platform was created as a joint venture of SA Homeschoolers, a well known name
        in the homeschooling community of South Africa, and KragDag who’s main activity is the hosting of
        the annual KragDag alternative energy and self-sustainability expo, near to Pretoria in South Africa. In
        2019 this expo attracted 21 400 visitors and 440 exhibitors. In addition KragDag and SA
        Homeschoolers organizes three provincial home education expos in South Africa since 2013.
        <br><br>

        Difficulties in hosting physical events during lockdown, while the demand for information on
        homeschooling for the same reason dramatically increased, led us in search for an electronic platform
        to cater for our needs. With our requirements not being satisified with what was available, we decided
        to develop a platform that will provide in the needs for a professional online event. This platform is
        now available to also host your online expo.</p>
    </div>
    <div class="col-md-5">
      <%= image_tag asset_path('400.png'), class: "featurette-image img-fluid mx-auto" %>
    </div>
  </div>
</div>