<div style="margin-top: -150px;">
  <div class="col-12 text-center">
    <% if resource.avatar.attached? %>
    <%= image_tag resource.avatar.variant(resize_to_fill: [300, 300, { gravity: 'center' }]), class: "avatar img-circle" %>
    <% else %>
    <%= image_tag asset_path('400.png'), class: "avatar img-circle", style: "border-radius: 50%;", size: "300" %>
    <% end %>
  </div>
</div>