<div class="site-blocks-cover overlay parallax" style="background-position: -400% 0px; background-image: url('https://colorlib.com/preview/theme/classyads/images/hero_2.jpg');">
  <div class="container" style="height: 100%">
    <div class="row align-items-center justify-content-center text-center">
      <div class="col-md-8">
        <%= yield :banner_content %>
      </div>
    </div>
  </div>
</div>