<div class="site-blocks-cover overlay parallax"
  style='background-position: center center; background-image: url(<%= @company.banner.attached? ? url_for(@company.banner) : url_for(asset_url("1900x700.png")) %> );' >
  <div class="container" style="height: 100%">
    <div class="align-items-center justify-content-center text-center">
      <div class="col-12">
        <div class="container" style="height: 100%">
        </div>
      </div>
    </div>
  </div>
</div>
